
<nz-upload
    nzType="drag"
    [nzMultiple]="true"
    nzAction="services/dassucore/api/storage/"
    [nzFileType]="'application/pdf'"
    (nzChange)="handleChange($event)"
>
    <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">Нажмите или перенесите файл</p>
    <p class="ant-upload-hint">
        Можете перенести один или несколько файлов. Формат PDF.
    </p>
</nz-upload>
