<div>
    <h2 id="page-heading">
        <span jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.home.title">Composit Files</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-composit-file" [routerLink]="['/composit-file/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.home.createLabel">
            Create a new Composit File
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="compositFiles?.length === 0">
        <span jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.home.notFound">No compositFiles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="compositFiles && compositFiles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.binaryFile">Binary File</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreCompositFile.fileCategory">File Category</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compositFile of compositFiles ;trackBy: trackId">
                    <td><a [routerLink]="['/composit-file', compositFile.id, 'view']">{{ compositFile.id }}</a></td>
                    <td jhiTranslate="{{ 'dassuGatewayApp.ProcessingStatus.' + compositFile.status }}">{{ compositFile.status }}</td>
                    <td>
                        <div *ngIf="compositFile.binaryFile">
                            <a [routerLink]="['/binary-file', compositFile.binaryFile?.id, 'view']" >{{ compositFile.binaryFile?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="compositFile.fileCategory">
                            <a [routerLink]="['/file-category', compositFile.fileCategory?.id, 'view']" >{{ compositFile.fileCategory?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/composit-file', compositFile.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/composit-file', compositFile.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(compositFile)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
