<div>
    <h2 id="page-heading">
        <span jhiTranslate="dassuGatewayApp.dassuCoreMetric.home.title">Metrics</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-metric" [routerLink]="['/metric/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="dassuGatewayApp.dassuCoreMetric.home.createLabel">
            Create a new Metric
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="metrics?.length === 0">
        <span jhiTranslate="dassuGatewayApp.dassuCoreMetric.home.notFound">No metrics found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="metrics && metrics.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreMetric.key">Key</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreMetric.value">Value</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreMetric.metricType">Metric Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let metric of metrics ;trackBy: trackId">
                    <td><a [routerLink]="['/metric', metric.id, 'view']">{{ metric.id }}</a></td>
                    <td>{{ metric.key }}</td>
                    <td>{{ metric.value }}</td>
                    <td>
                        <div *ngIf="metric.metricType">
                            <a [routerLink]="['/metric-type', metric.metricType?.id, 'view']" >{{ metric.metricType?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/metric', metric.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/metric', metric.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(metric)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
