<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fileCategoryFieldValue">
            <h2><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.detail.title">File Category Field Value</span> {{ fileCategoryFieldValue.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.value">Value</span></dt>
                <dd>
                    <span>{{ fileCategoryFieldValue.value }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.compositFile">Composit File</span></dt>
                <dd>
                    <div *ngIf="fileCategoryFieldValue.compositFile">
                        <a [routerLink]="['/composit-file', fileCategoryFieldValue.compositFile?.id, 'view']">{{ fileCategoryFieldValue.compositFile?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.fileCategoryField">File Category Field</span></dt>
                <dd>
                    <div *ngIf="fileCategoryFieldValue.fileCategoryField">
                        <a [routerLink]="['/file-category-field', fileCategoryFieldValue.fileCategoryField?.id, 'view']">{{ fileCategoryFieldValue.fileCategoryField?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.metric">Metric</span></dt>
                <dd>
                    <div *ngIf="fileCategoryFieldValue.metric">
                        <a [routerLink]="['/metric', fileCategoryFieldValue.metric?.id, 'view']">{{ fileCategoryFieldValue.metric?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/file-category-field-value', fileCategoryFieldValue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
