<div>
    <h2 id="page-heading">
        <span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.home.title">File Category Field Values</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-file-category-field-value" [routerLink]="['/file-category-field-value/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.home.createLabel">
            Create a new File Category Field Value
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fileCategoryFieldValues?.length === 0">
        <span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.home.notFound">No fileCategoryFieldValues found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fileCategoryFieldValues && fileCategoryFieldValues.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.value">Value</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.compositFile">Composit File</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.fileCategoryField">File Category Field</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryFieldValue.metric">Metric</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fileCategoryFieldValue of fileCategoryFieldValues ;trackBy: trackId">
                    <td><a [routerLink]="['/file-category-field-value', fileCategoryFieldValue.id, 'view']">{{ fileCategoryFieldValue.id }}</a></td>
                    <td>{{ fileCategoryFieldValue.value }}</td>
                    <td>
                        <div *ngIf="fileCategoryFieldValue.compositFile">
                            <a [routerLink]="['/composit-file', fileCategoryFieldValue.compositFile?.id, 'view']" >{{ fileCategoryFieldValue.compositFile?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="fileCategoryFieldValue.fileCategoryField">
                            <a [routerLink]="['/file-category-field', fileCategoryFieldValue.fileCategoryField?.id, 'view']" >{{ fileCategoryFieldValue.fileCategoryField?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="fileCategoryFieldValue.metric">
                            <a [routerLink]="['/metric', fileCategoryFieldValue.metric?.id, 'view']" >{{ fileCategoryFieldValue.metric?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/file-category-field-value', fileCategoryFieldValue.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/file-category-field-value', fileCategoryFieldValue.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fileCategoryFieldValue)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
