<div>
    <h2 id="page-heading">
        <span jhiTranslate="dassuGatewayApp.dassuCoreMetricType.home.title">Metric Types</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-metric-type" [routerLink]="['/metric-type/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="dassuGatewayApp.dassuCoreMetricType.home.createLabel">
            Create a new Metric Type
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="metricTypes?.length === 0">
        <span jhiTranslate="dassuGatewayApp.dassuCoreMetricType.home.notFound">No metricTypes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="metricTypes && metricTypes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreMetricType.name">Name</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let metricType of metricTypes ;trackBy: trackId">
                    <td><a [routerLink]="['/metric-type', metricType.id, 'view']">{{ metricType.id }}</a></td>
                    <td>{{ metricType.name }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/metric-type', metricType.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/metric-type', metricType.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(metricType)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
