<div>
    <h2 id="page-heading">
        <span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.home.title">File Category Fields</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-file-category-field" [routerLink]="['/file-category-field/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.home.createLabel">
            Create a new File Category Field
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fileCategoryFields?.length === 0">
        <span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.home.notFound">No fileCategoryFields found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fileCategoryFields && fileCategoryFields.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.meta">Meta</span></th>
                    <th scope="col" ><span jhiTranslate="dassuGatewayApp.dassuCoreFileCategoryField.fileCategory">File Category</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fileCategoryField of fileCategoryFields ;trackBy: trackId">
                    <td><a [routerLink]="['/file-category-field', fileCategoryField.id, 'view']">{{ fileCategoryField.id }}</a></td>
                    <td>{{ fileCategoryField.name }}</td>
                    <td>{{ fileCategoryField.meta }}</td>
                    <td>
                        <span *ngFor="let fileCategory of fileCategoryField.fileCategories; let last = last">
                            <a class="form-control-static" [routerLink]="['/file-category', fileCategory?.id, 'view']">{{ fileCategory.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/file-category-field', fileCategoryField.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/file-category-field', fileCategoryField.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fileCategoryField)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
