<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="binaryFile">
            <h2><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.detail.title">Binary File</span> {{ binaryFile.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.name">Name</span></dt>
                <dd>
                    <span>{{ binaryFile.name }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.version">Version</span></dt>
                <dd>
                    <span>{{ binaryFile.version }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.storageFilePath">Storage File Path</span></dt>
                <dd>
                    <span>{{ binaryFile.storageFilePath }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.md5">Md 5</span></dt>
                <dd>
                    <span>{{ binaryFile.md5 }}</span>
                </dd>
                <dt><span jhiTranslate="dassuGatewayApp.dassuCoreBinaryFile.storageType">Storage Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'dassuGatewayApp.StorageType.' + binaryFile.storageType }}">{{ binaryFile.storageType }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/binary-file', binaryFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
